<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ name }}'s First Angular Project
  </h1>
  <img width="300" alt="Angular Logo" src="https://vignette.wikia.nocookie.net/beeandpuppycat/images/c/c9/Puppycat.png/revision/latest/scale-to-width-down/340?cb=20190901234802">
</div>
<h2>Things I love: </h2>
<ul>
  <li>
    <h3>{{ itemList[0] }}</h3>
  </li>
  <li>
    <h3>{{ itemList[1] }}</h3>
  </li>
  <li>
    <h3>{{ itemList[2] }}</h3>
  </li>
  <li>
    <h3>{{ itemList[3] }}</h3>
  </li>

  <p>The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm,
    and an area of {{rectangle.area()}} cm^2.</p>
</ul>

